span{
  margin-left:10px;
  margin-right:10px;
}
img{
  height: 200px !important;
}
.card{
  margin-top: 0px;
  height: 400px !important;
}
.read{
  color: rgb(37, 174, 96);
  font-size: 14px !important;
}
.nav-link1:hover{
  text-decoration: underline !important;
  color: seagreen !important;
}
li{
  text-transform: uppercase !important;
  margin-right: 20px !important;
  font-weight: bold !important;
}
body{
  font-family: Arial, Helvetica, sans-serif;
  letter-spacing: 0.5px;
}
.container-fluid{
  text-align: center !important;
  margin-left: 200px !important;
}
#topNav{
margin-right: 300px;
}
.nav-link1{
  height: 0px !important;
  text-decoration: none !important;
  color: black !important;
  margin-top: 0px !important;
}
.topImg{
  width: 100% !important;
  height: 280px !important;
}
.splCard{
  height:280px !important;
background-image: linear-gradient(120deg, #84fab0 0%, #8fd3f4 100%);;
}
.card2{
  background-image: linear-gradient(45deg, #ff9a9e 0%, #fad0c4 99%, #fad0c4 100%);
}
.data{
  margin-top: 30px !important;
  font-weight: bolder !important;
}
.guvi{
  background: rgba(0, 0, 0, 0.944) !important;
  color: rgba(245, 245, 245, 0.709) !important;

}
.guviImage{
  width: 150px;
  height: 100px !important;
}
.col-md-4{
  margin-top: 20px !important;
}
.splCard{
 border: none !important;
}
.card1{
  font-weight: bolder;
}
.navImage{
  width: 100px !important;
  height: 50px !important;
}
.navImage{
  margin-right: 300px;
}